/*
フッターを画面下に配置するために、
「position: relative;」を設定
「min-height」で最小の高さを画面の高さにあわせる
*/
body {
  color: #333;
  font-size: 0.875rem;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

a {
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  padding-top: 120px;
  padding-bottom: 160px;
}

.site_title a {
  width: 180px;
  display: block;
}

.page_title {
  margin-bottom: 30px;
}

/*----------------------------
Header
-----------------------------*/
#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex; //横並び
  justify-content: space-between; //両端
  align-items: center; //真ん中
  position: fixed; //ヘッダー固定
  left: 0; //画面の左端
  right: 0; //画面の右端
  z-index: 10; //z-indexは10単位で

  #navi {
    position: fixed;
    top: 0;
    left: -300px; //画面外に待機
    width: 300px;
    color: #fff;
    padding: 35px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0; //非表示

    li {
      margin-bottom: 15px;
    }
  }

  /* ハンバーガーメニューが開いているとき */
  &.open #navi {
    left: 0;
    opacity: 1;
  }

  .toggle_btn {
    width: 30px;
    height: 30px;
    position: relative; //spanの位置調整の基準
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;

    /* 
    ハンバーガーメニューの線の設定（メニューが閉じている時） 
    */
    span {
      display: block; //width, height適用させるため
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #333;
      border-radius: 5px;
      transition: all 0.5s;

      /* 1本目の線の位置を設定 */
      &:nth-child(1) {
        top: 10px;
      }

      /* 2本目の線の位置を設定 */
      &:nth-child(2) {
        bottom: 10px;
      }
    }
  }

  /*
ハンバーガーメニューの線の設定（メニューが開いている時）
線の色を白に変更
*/
  &.open .toggle_btn span {
    background-color: #fff;

    /* 「rotate」は"回転"、「deg」は"度"（degreeの略） */
    /* 1本目の線を-45度回転 */
    &:nth-child(1) {
      -webkit-transform: translateY(4px) rotate(-45deg);
      transform: translateY(4px) rotate(-45deg);
    }

    /* 2本目の線を45度回転 */
    &:nth-child(2) {
      -webkit-transform: translateY(-4px) rotate(45deg);
      transform: translateY(-4px) rotate(45deg);
    }
  }

  #mask {
    display: none;
    transition: all 0.5s;
  }

  /*
  メニューを開いている時は、全体を黒背景にする
  */
  &.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
}

/*----------------------------
TOP, PRODUCTS
-----------------------------*/
#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

.product_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: 23%;
    margin-bottom: 40px;

    img {
      // vertical-align: top;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.75rem;
    }
  }
}

.link_text {
  display: block;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;

  li {
    padding: 0 20px;
  }
}

/*----------------------------
ITEM
-----------------------------*/
#item {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  .item_img {
    width: 50%;
  }

  .item_txt {
    width: 42%;

    p {
      line-height: 1.6;
      margin-bottom: 30px;
      text-align: justify;
    }

    .detail {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.6;

      dt {
        width: 30%;
      }

      dd {
        width: 70%;
      }
    }
  }
}

/*----------------------------
ABOUT
-----------------------------*/
#about {
  max-width: 600px;

  p {
    line-height: 2;
    margin-bottom: 30px;
  }
}

/*----------------------------
COMPANY
-----------------------------*/
#company {
  max-width: 600px;

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    dt {
      width: 30%;
      padding: 20px 10px;
      border-bottom: 1px solid #DCDBDB;
    }

    dd {
      width: 70%;
      padding: 20px 10px;
      border-bottom: 1px solid #DCDBDB;
      line-height: 1.6;
    }

    dt:last-of-type,
    dd:last-of-type {
      border-bottom: none;
    }
  }

  .map {
    filter: grayscale(1);
  }

  iframe {
    width: 100%;
    height: 300px;
    // border: 0;
  }
}


/*----------------------------
FOOTER
-----------------------------*/
#footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  .menu {
    display: flex;

    li {
      font-size: 0.75rem;
      margin-right: 30px;
    }
  }

  .copyright {
    font-size: 0.625rem;
  }
}

/*----------------------------
SP
-----------------------------*/
@media screen and (max-width: 900px) {

  /*----------------------------
  TOP, PRODUCTS
  -----------------------------*/
  .product_list {
    li {
      width: 47%;
    }
  }

  /*----------------------------
  ITEM
  -----------------------------*/
  #item {
    flex-direction: column;

    .item_img {
      width: 100%;
      margin-bottom: 30px;
    }

    .item_txt {
      width: 100%;

      p {
        &:last-of-type {
          font-size: 0.75rem;
        }
      }
    }
  }

  /*----------------------------
  ABOUT
  -----------------------------*/

  /*----------------------------
  COMPANY
  -----------------------------*/
  #company {
    .info {
      flex-direction: column;

      dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 5px;
      }

      dd {
        width: 100%;
        padding-top: 5px;
      }
    }
  }

  /*----------------------------
  FOOTER
  -----------------------------*/
  #footer {
    flex-direction: column;

    .menu {
      margin-bottom: 5px;
    }
  }
}